*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    height: 800px;
     display: flex;
     font-size: 70px;
     align-items: center;
     justify-content: center;
}
.child{
    height: 100px;
    width: 100px;
    background-color:white;
     display: flex;
    align-items: center;
    justify-content: center;
}
.item{
    height: 100px;
    width: 100px;
    background-color:green;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .item:hover{
    margin: 5px;
}
.child:hover{
    margin: 5px;
} */
